<!DOCTYPE html>
<html>
<head>
    <title>Micronaut</title>
    <style type="text/css">
        form ol li {
            list-style-type: none;
        }
    </style>
</head>
<body>
    #if( $key)
    <form method="post" action="/delete">
        <input type="hidden" name="key" value="$key"/>
        <input type="submit" value="Delete" id="deleteBtn"/>
    </form>
    #end
    #if( $imageurl)
        <img id="image" src="$imageurl">
    #end
    <form method="post" action="/upload" enctype="multipart/form-data">
        <fieldset>
            <ol>
                <li><label for="file">File</label>: <input type="file" name="file" id="file"></li>
                <li><input type="submit" value="Upload" id="uploadBtn"/></li>
            </ol>
        </fieldset>
    </form>
</body>
</html>